/* スマホ画面のスタイル */
@media (max-width: 600px) {
  .quiz_no_text {
    font-size: 1.5rem;
    padding-top: 1rem;
  }
  .quiz_ans_area ul {
    flex-direction: column;
  }
  .quiz_question {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .quiz_area .quiz_ans_area ul li {
    width: 90%;
    padding: 0.8rem;
    margin: auto;
  }
  ul li {
    font-size: 1rem;
  }

  .ans_now img {
    width: 50%;
  }
  .result_img {
    position: fixed;
    bottom: 0;
    left: 20%;
  }

  .test_cnt {
    font-size: 1.5rem;
  }
  .result_cnt {
    font-size: 3rem;
  }
  .final_text {
    font-size: 2.5rem;
  }

  /*  */
  /* front.html */
  /*  */
}
